@import "src/variabels/colors";

@keyframes open {
  0% {
    height: 0;
  }
  100% {
    height: 140px;
  }
}

@keyframes close {
  0% {
    height: 140px;
  }
  100% {
    height: 0;
  }
}

.accordeon {
  background-image: url('../images/bag.png');
  background-repeat: no-repeat;
  background-position: 95% 88%;
  background-color: #DAECFF;
  @media only screen and (max-width: 1600px) {
    background-position: 99% 88%;
  }
  @media only screen and (max-width: 960px) {
    background-image: none;
  }
  &__wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  &__item {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 14px 40px;
    margin-bottom: 10px;
    &.active {
      .item {
        &__elips {
          background: $primary;
        }
        &__btn {
          img {
            transform: rotate(180deg);
          }
        }
        &__p {
          font-family: Montserrat-Bold700, sans-serif;
          font-size: 21px;
          line-height: 26px;
        }
      }
      .content {
        animation: open 100ms ease alternate;
        height: auto;
      }
    }
  }
  &__title {
    margin-bottom: 75px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__preview {
      display: flex;
      align-items: center;
    }
    &__elips {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $secondary;
      margin-right: 28px;
    }
    &__p {
      font-size: 18px;
      line-height: 32px;
      transition: 100ms;
    }
    &__btn {
      border: none;
      background: none;
      cursor: pointer;
      img {
        transition: 200ms;
      }
    }
  }
  .content {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: 100ms;
      animation: close 100ms ease alternate;
    &__text {
      border-left: 1px solid #000;
      margin-left: 12px;
      margin-bottom: 33px;
      padding-left: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 30px;
      font-size: 18px;
      line-height: 32px;
    }
  }
  @media only screen and (max-width: 780px) {
    &__wrapper {
      padding-top: 16px;
      padding-bottom: 30px;
    }
    &__item {
      &.active {
        .item {
          &__p {
            font-family: Montserrat-ExtraBold800, sans-serif;
            font-size: 17px;
            line-height: 27px;
          }
        }
      }
    }
    &__title {
      margin-bottom: 17px;
    }
    &__item {
      border-radius: 10px;
      padding: 14px 24px;
    }
    .item {
      &__elips {
        width: 15px;
        min-width: 15px;
        height: 15px;
        margin-right: 18px;
      }
      &__p {
        font-size: 17px;
        line-height: 30px;
      }
    }
    .text {
      font-size: 17px;
      line-height: 30px;
      margin-top: 20px;
      margin-left: 7px;
      padding-left: 25px;
    }
  }
}