@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: Montserrat-SemiBold600;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
}

@font-face {
  font-family: Montserrat-Bold700;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
}

@font-face {
  font-family: Montserrat-ExtraBold800;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"),
}

@font-face {
  font-family: Montserrat-Black900;
  src: url("../fonts/Montserrat-Black.ttf") format("truetype"),
}