@import "src/variabels/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat-Regular, sans-serif;
}

h1 {
  font-family: Montserrat-Black900, sans-serif;
  color: #484848;
  font-size: 50px;
  line-height: 63px;
  font-weight: 900;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  background: $secondary;
  font-family: Montserrat-Regular, sans-serif;
  color: #fff;
  border-radius: 5px;
  border: 2px solid $secondary;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 300ms;
  line-height: 15px;
  cursor: pointer;
  &.base {
    width: 270px;
    padding: 22px 0;
    &:hover {
      border-color: $primary;
    }
    &:active {
      background: $primary;
      border-color: $primary;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}