@import "src/variabels/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat-Regular, sans-serif;
}

h1 {
  font-family: Montserrat-Black900, sans-serif;
  color: #484848;
  font-size: 50px;
  line-height: 63px;
}

h2 {
  font-family: Montserrat-ExtraBold800, sans-serif;
  color: #111111;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 22px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  font-family: Montserrat-SemiBold600, sans-serif;
  list-style-type: none;
}

.button {
  background: $secondary;
  font-family: Montserrat-Bold700, sans-serif;
  color: #fff;
  border-radius: 5px;
  border: 2px solid $secondary;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 300ms;
  line-height: 15px;
  cursor: pointer;
  &__base {
    width: 270px;
    padding: 22px 0;
    &:hover {
      border-color: $primary;
    }
    &:active {
      background: $primary;
      border-color: $primary;
    }
  }
}

main {
  margin-top: 95px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 780px) {
  h1 {
    font-family: Montserrat-ExtraBold800, sans-serif;
    font-size: 27px;
    line-height: 32px;
  }

  h2 {
    font-size: 23px;
    line-height: 35px;
  }

  .button {
    &__base {
      width: 100%;
      padding: 17px 0;
    }
  }
}